/* sass --watch style.scss style.css */ 
$blue: #3A9EF0;
$white: #fff;
$transparent: rgba(255, 255, 255, 0);

* {
  position: relative;

  &::-webkit-scrollbar {
    background-color: $transparent;
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue;
    width: 3px;
  }
}

/* INDEX ------------------------------------------------------------------------- INDEX */

.navLogo {
  height: 50px;
}

.sidebar-tile {
  border-top: rgba(0, 0, 0, 0.03) 1px solid;
}

.sidebar-tile:last-child {
  border-bottom: rgba(0, 0, 0, 0.03) 1px solid;
}

.sidebar-tile a {
  height: 90px;
}

.action-margin-left {
  margin-left: 30px;
}

.action-icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #B8C2CC;
  display: flex;
}

.action-icon-circle .icon {
  color: rgba(255, 255, 255, 0.815);
  font-size: 25px;
  margin: auto;
}

.sidebar-spacer {
  position: relative;
  display: block;
  height: 100px;
}

.sidebar-spacer .close {
  position: absolute;
  right: 35px;
  top: 25px;
  color: rgb(156, 165, 173);
  font-size: 40px;
  cursor: pointer;  
}

.nav-spacer {
  height: 70px;
  width: 100%;
  display: block;
}

.footer {
  width: 100vw;
}

.footer .footer-card {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.footer-icon-text {
  margin-left: 50px;
}

.footer-icon-text:first-of-type {
  margin-left: 0px;
}

/* OFFERS OVERVIEW ----------------------------------------------------------- OFFERS OVERVIEW */

.baseCard {
  position: relative;
  display: inline-block;
  width: 340px;
  border-radius: 2px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;

  &.clickable {
    cursor: pointer;
  }

  .card-title {
    display: block;
    margin: 0 !important;
  }

  .headline {
    font-size: 17px !important;
    line-height: 17px !important;
    font-weight: 800;
    display: block;
    margin-top: -5px;
    margin-bottom: 14px;
  }

  .status-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: rgb(76, 197, 65);
  }

  .v-expansion-panel__header {
    padding: 0px !important;
  }

  .v-expansion-panel__container {
    max-width: 100% !important;
  }

  .v-card__text {
    padding: 10px 0px 0px 0px !important;

    div {
      padding-bottom: 10px;
    }
  }

  .v-expansion-panel__container--active {
    box-shadow: none !important;
  }

  .v-expansion-panel--popout {
    margin-bottom: 0 !important;
  }

  .margin-auto {
    margin: auto;
  }



  .v-card__title {
    line-height: 1.15 !important; 
  }

}

.offer-content {
  min-width: 100%;
}

/* FILTERS --------------------------------------------------------------------- FILTERS */

.dropdownContainer {
  border-radius: 3px;
  padding: 0;
  min-width: 15em;
  width: 200px;
  display: inline-block;
  margin-right: 5px;

  .basicDropdown {
    display: inline-block;
    outline-color: #3a9ef0;
    margin-right: 300px;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
  }

  .basicDropdownContent {

  }
}

.inputContainer {
  width: 300px;
  display: inline-block;
  margin-bottom: -35px;
  margin-top: -20px;

  .basicInput {
    width: 100%;
  }
}