/* sass --watch style.scss style.css */ 
$blue: #3A9EF0;
$white: #fff;
$transparent: rgba(255, 255, 255, 0);
$orange: #FF5A00;
$green: #6DC570;
$red: rgb(255, 78, 78);
$grey: rgb(192, 192, 192);
$background: #FAFAFA;
$lightGrey: #e2e2e2;

* {
  position: relative;

  &::-webkit-scrollbar {
    background-color: $transparent;
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue;
    width: 3px;
  }
}

/* INDEX ------------------------------------------------------------------------- INDEX */

.v-toolbar__title {
  overflow: visible !important;
}

.navLogo {
  height: 50px;
}

.sidebar-tile {
  border-top: rgba(0, 0, 0, 0.03) 1px solid;
}

.sidebar-tile:last-child {
  border-bottom: rgba(0, 0, 0, 0.03) 1px solid;
}

.sidebar-tile a {
  height: 90px;
}

.action-margin-left {
  margin-left: 30px;
}

.action-icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #B8C2CC;
  display: flex;
}

.action-icon-circle .icon {
  color: rgba(255, 255, 255, 0.815);
  font-size: 25px;
  margin: auto;
}

.sidebar-spacer {
  position: relative;
  display: block;
  height: 100px;
}

.sidebar-spacer .close {
  position: absolute;
  right: 35px;
  top: 25px;
  color: rgb(156, 165, 173);
  font-size: 40px;
  cursor: pointer;  
}

.nav-spacer {
  height: 70px;
  width: 100%;
  display: block;
}

.footer {
  width: 100vw;
}

.footer .footer-card {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.footer-icon-text {
  margin-left: 50px;
}

.footer-icon-text:first-of-type {
  margin-left: 0px;
}

/* OFFERS OVERVIEW ----------------------------------------------------------- OFFERS OVERVIEW */

.addNewButton {
  margin-top: 70px;
}

.offer-category {
  position: absolute;
  top: -9px;
  left: 0px;
  width: 100%;
  font-style: italic;
  font-weight: 300;
  color: $grey;

  &.detail {
    position: relative;
    top: 0px;
  }
}

.baseCard {
  position: relative;
  display: inline-block;
  width: 350px;
  border-radius: 2px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;

  &.clickable {
    cursor: pointer;

    &.align-top.v-card:nth-child(3n+2) { 
      margin-right: 0px;
    }

    .load-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 200;
      background-color: $lightGrey;
    }
  }

  .card-title {
    display: block;
    margin: 0 !important;
  }

  .headline {
    font-size: 17px !important;
    line-height: 17px !important;
    font-weight: 800;
    display: block;
    margin-top: -5px;
    margin-bottom: 14px;
  }

  .status-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;

    &.green{
      background-color: $green;
    }
    &.red{
      background-color: $red;
    }
  }

  .v-expansion-panel__header {
    padding: 0px !important;
  }

  .v-expansion-panel__container {
    max-width: 100% !important;
  }

  .v-card__text {
    padding: 10px 0px 0px 0px !important;

    div {
      padding-bottom: 10px;
    }
  }

  .v-expansion-panel__container--active {
    box-shadow: none !important;
  }

  .v-expansion-panel--popout {
    margin-bottom: 0 !important;
  }

  .margin-auto {
    margin: auto;
  }



  .v-card__title {
    line-height: 1.15 !important; 
  }

}

.offer-content {
  min-width: 100%;
}

/* FILTERS --------------------------------------------------------------------- FILTERS */

.dropdownContainer {
  border-radius: 3px;
  padding: 0;
  min-width: 15em;
  width: 200px;
  display: inline-block;
  margin-right: 5px;

  .basicDropdown {
    display: inline-block;
    outline-color: $blue;
    margin-right: 300px;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
  }

  .basicDropdownContent {

  }
}

.inputContainer {
  width: 300px;
  display: inline-block;
  margin-bottom: -35px;
  margin-top: -20px;

  .basicInput {
    width: 100%;
  }
}

/* DETAIL OFFER --------------------------------------------------------------------- DETAIL OFFER */

.long-title {
  overflow: visible !important;
}

.greenBackground{
  background-color: $green !important;
}

.redBackground{
  background-color: $red !important;
}

.blueBackground {
  background-color: $blue !important;
}

.display-flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  .mobile-preview {
    position: relative;
    padding-top: 30px;
    width: 500px;

    .phone {
      width: 100%;
    }

    &__container {
      width: 300px;
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;

      &-content {
        position: absolute;
        top: 5px;
        left: 7px;
        width: 285px;
        height: 615px;
        border-radius: 30px;
        overflow-x: auto;
        overflow-y: auto;
        padding-top: 30px;
        box-shadow: 0px 5px 10px rgb(168, 168, 168);
      }
    }
  }

  .desktop-preview {
    padding-top: 30px;
    width: 1000px;

    &__container {
      width: 900px;
      height: 500px;
      display: block;
      position: relative;
      margin-left: 0px;
      margin-right: auto;

      &-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 900px;
        max-height: 700px;
        border-radius: 3px;
        overflow-x: auto;
        overflow-y: auto;
        box-shadow: 2px 2px 15px rgb(90, 90, 90);
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  .sidebar {
    padding: 20px;
    padding-top: 30px;
    width: 400px;
    height: 90vh;

    .minus-margin {
      margin-top: -16px;
    }

    .display-flex {
      height: auto;

      .half-width {
        p {
          margin-bottom: 0px;
        }
      }
    }
    
  }
}

.no-padding {
  padding: 0 0 !important;
  margin-top: -10px;

  &.v-subheader {
    padding: 0 0 !important;
    margin-top: -10px;
    color: $grey;
  }
}

.align-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.center-text {
  text-align: center;
}

.base-button {
  height: 40px;
  width: 100px;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border: 1px solid $grey;
  color: $grey;
  background-color: $transparent;

  &:focus {
    outline: none;
  }

  &.full-width {
    width: 100%;
    margin: 0 auto;
  }

  &.almost-full-width {
    width: 99%;
    margin: 0 auto;
    animation: widen-up 0.26s forwards ease-out;
  }

  @keyframes widen-up {
    from {width: 29%}
    to {width: 99%}
  }

  &.partial-width {
    width: 29%;
    display: inline-block;
    margin: 0 auto;
    animation: shrink-down 0.25s forwards ease-out;
  }

  @keyframes shrink-down {
    from {width: 99%}
    to {width: 29%}
  }

  &.bottom-actions {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
  }

  &.green {

  }

  &.red {

  }
}

.spacer {
  display: block;
  width: 100%;
  height: 20px;

  &-big {
    display: block;
    width: 100%;
    height: 30px;
  }
}

/* NEW OFFER --------------------------------------------------------------------- NEW OFFER */

.basicInputContainer {
  display: block;

  &.special {
    display: block;
    padding-right: 10px;
  }

  &.no-width {
    display: inline-block;
    width: 0%;
    padding-top: 5px;
  }

  &.partial-width {
    display: inline-block;
    padding-top: 5px;
    width: 70%;
    animation: get-wide 0.25s forwards ease-out;
  }

  @keyframes get-wide {
    0% {width: 0%; display: none}
    1% {display: inline-block}
    to {width: 70%}
  }

  &.disappear {
    display: inline-block;
    width: 0%;
    padding-top: 5px;
    animation: get-narrow 0.25s forwards ease-out;
  }

  @keyframes get-narrow {
    0% {width: 70%}
    99% {width: 0%; display: inline-block}
    100% {display: none}
  }

  .basicInput {
    width: 100%;
    margin-right: 5px;
  }

  .v-text-field {
    padding-top: 0px;
    margin-top: 0px;

    .v-input__slot {
      margin-bottom: 2px;
    }
  }
}

.dropdownContainerForm {
  border-radius: 5px;
  padding: 0;
  width: 202px;
  display: inline-block;
  margin-right: 5px;

  .basicDropdownForm {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    height: 50px;

    .v-input__control {
      border-radius: 5px;

      .v-input__slot {
        border: solid 1px $lightGrey;
        border-radius: 5px;
      }

      .v-select__selection {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .basicDropdownContent {

  }
}

.new-offer-dialog {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $background !important;

  .v-card {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .leftSide {
    display: inline-block;
    position: relative;
    width: 478px;
    min-height: 100%;
    padding: 30px 15px 30px 40px;
  }

  .rightSide {
    display: inline-block;
    position: relative;
    width: 718px;
    min-height: 100%;
    padding: 30px 40px 30px 15px;

    .previewContainer {
      width: 100%;
      height: 500px;
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;

      &-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 500px;
        max-height: 500px;
        border-radius: 0px;
        overflow-x: auto;
        overflow-y: auto;
        box-shadow: 0px 5px 15px rgb(168, 168, 168);
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}

.float-right {
  float: right;
}

.float-left {
  float: right;
}

.dialog-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.hint {
  width: 100%;
  text-align: center;
  color: $grey;
}

.view-actions {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .icon-divider {
    width: 1px;
    height: 40px;
    background-color: $white;
    display: inline-block;
  }

  .icon-container {
    width: 40px;
    height: 40px;
    background-color: $lightGrey;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      line-height: 40px;
      color: $white;
      font-size: 24px;
  
      &.rotateIcon {
        display: inline-block;
        transform: rotate(90deg);
      }
    }
  }
}