/* sass --watch style.scss style.css */
* {
  position: relative;
}
*::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  width: 3px;
}
*::-webkit-scrollbar-thumb {
  background-color: #3A9EF0;
  width: 3px;
}

/* INDEX ------------------------------------------------------------------------- INDEX */
.v-toolbar__title {
  overflow: visible !important;
}

.navLogo {
  height: 50px;
}

.sidebar-tile {
  border-top: rgba(0, 0, 0, 0.03) 1px solid;
}

.sidebar-tile:last-child {
  border-bottom: rgba(0, 0, 0, 0.03) 1px solid;
}

.sidebar-tile a {
  height: 90px;
}

.action-margin-left {
  margin-left: 30px;
}

.action-icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #B8C2CC;
  display: flex;
}

.action-icon-circle .icon {
  color: rgba(255, 255, 255, 0.815);
  font-size: 25px;
  margin: auto;
}

.sidebar-spacer {
  position: relative;
  display: block;
  height: 100px;
}

.sidebar-spacer .close {
  position: absolute;
  right: 35px;
  top: 25px;
  color: #9ca5ad;
  font-size: 40px;
  cursor: pointer;
}

.nav-spacer {
  height: 70px;
  width: 100%;
  display: block;
}

.footer {
  width: 100vw;
}

.footer .footer-card {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.footer-icon-text {
  margin-left: 50px;
}

.footer-icon-text:first-of-type {
  margin-left: 0px;
}

/* OFFERS OVERVIEW ----------------------------------------------------------- OFFERS OVERVIEW */
.addNewButton {
  margin-top: 70px;
}

.baseCard {
  position: relative;
  display: inline-block;
  width: 340px;
  border-radius: 2px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}
.baseCard.clickable {
  cursor: pointer;
}
.baseCard .card-title {
  display: block;
  margin: 0 !important;
}
.baseCard .headline {
  font-size: 17px !important;
  line-height: 17px !important;
  font-weight: 800;
  display: block;
  margin-top: -5px;
  margin-bottom: 14px;
}
.baseCard .status-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
}
.baseCard .status-container.green {
  background-color: #6DC570;
}
.baseCard .status-container.red {
  background-color: #ff4e4e;
}
.baseCard .v-expansion-panel__header {
  padding: 0px !important;
}
.baseCard .v-expansion-panel__container {
  max-width: 100% !important;
}
.baseCard .v-card__text {
  padding: 10px 0px 0px 0px !important;
}
.baseCard .v-card__text div {
  padding-bottom: 10px;
}
.baseCard .v-expansion-panel__container--active {
  box-shadow: none !important;
}
.baseCard .v-expansion-panel--popout {
  margin-bottom: 0 !important;
}
.baseCard .margin-auto {
  margin: auto;
}
.baseCard .v-card__title {
  line-height: 1.15 !important;
}

.offer-content {
  min-width: 100%;
}

/* FILTERS --------------------------------------------------------------------- FILTERS */
.dropdownContainer {
  border-radius: 3px;
  padding: 0;
  min-width: 15em;
  width: 200px;
  display: inline-block;
  margin-right: 5px;
}
.dropdownContainer .basicDropdown {
  display: inline-block;
  outline-color: #3A9EF0;
  margin-right: 300px;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
}
.inputContainer {
  width: 300px;
  display: inline-block;
  margin-bottom: -35px;
  margin-top: -20px;
}
.inputContainer .basicInput {
  width: 100%;
}

/* DETAIL OFFER --------------------------------------------------------------------- DETAIL OFFER */
.long-title {
  overflow: visible !important;
}

.greenBackground {
  background-color: #6DC570 !important;
}

.redBackground {
  background-color: #ff4e4e !important;
}

.blueBackground {
  background-color: #3A9EF0 !important;
}

.display-flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.display-flex .mobile-preview {
  position: relative;
  padding-top: 30px;
  width: 500px;
}
.display-flex .mobile-preview .phone {
  width: 100%;
}
.display-flex .mobile-preview__container {
  width: 300px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.display-flex .mobile-preview__container-content {
  position: absolute;
  top: 5px;
  left: 7px;
  width: 285px;
  height: 615px;
  border-radius: 30px;
  overflow-x: auto;
  overflow-y: auto;
  padding-top: 30px;
  box-shadow: 0px 5px 10px #a8a8a8;
}
.display-flex .desktop-preview {
  padding-top: 30px;
  width: 1000px;
}
.display-flex .desktop-preview__container {
  width: 900px;
  display: block;
  position: relative;
  margin-left: 0px;
  margin-right: auto;
}
.display-flex .desktop-preview__container-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 900px;
  max-height: 700px;
  border-radius: 3px;
  overflow-x: auto;
  overflow-y: auto;
  box-shadow: 2px 2px 15px #5a5a5a;
  padding-top: 20px;
  padding-bottom: 20px;
}
.display-flex .sidebar {
  padding: 20px;
  padding-top: 30px;
  width: 400px;
  height: 90vh;
}
.display-flex .sidebar .minus-margin {
  margin-top: -16px;
}
.display-flex .sidebar .display-flex {
  height: auto;
}
.display-flex .sidebar .display-flex .half-width p {
  margin-bottom: 0px;
}

.no-padding {
  padding: 0 0 !important;
  margin-top: -10px;
}
.no-padding.v-subheader {
  padding: 0 0 !important;
  margin-top: -10px;
  color: silver;
}

.align-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.center-text {
  text-align: center;
}

.base-button {
  height: 40px;
  width: 100px;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border: 1px solid silver;
  color: silver;
  background-color: rgba(255, 255, 255, 0);
}
.base-button.full-width {
  width: 100%;
  margin: 0 auto;
}
.spacer {
  display: block;
  width: 100%;
  height: 20px;
}
.spacer-big {
  display: block;
  width: 100%;
  height: 30px;
}

/* NEW OFFER --------------------------------------------------------------------- NEW OFFER */
.basicInputContainer {
  display: block;
}
.basicInputContainer.special {
  display: block;
  padding-right: 10px;
}
.basicInputContainer .basicInput {
  width: 100%;
  margin-right: 5px;
}
.basicInputContainer .v-text-field {
  padding-top: 0px;
  margin-top: 0px;
}
.basicInputContainer .v-text-field .v-input__slot {
  margin-bottom: 2px;
}

.dropdownContainerForm {
  border-radius: 5px;
  padding: 0;
  width: 202px;
  display: inline-block;
  margin-right: 5px;
}
.dropdownContainerForm .basicDropdownForm {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  height: 50px;
}
.dropdownContainerForm .basicDropdownForm .v-input__control {
  border-radius: 5px;
}
.dropdownContainerForm .basicDropdownForm .v-input__control .v-input__slot {
  border: solid 1px #e2e2e2;
  border-radius: 5px;
}
.dropdownContainerForm .basicDropdownForm .v-input__control .v-select__selection {
  overflow: hidden;
  text-overflow: ellipsis;
}
.new-offer-dialog {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #FAFAFA !important;
}
.new-offer-dialog .v-card {
  overflow-x: hidden;
  overflow-y: hidden;
}
.new-offer-dialog .leftSide {
  display: inline-block;
  position: relative;
  width: 478px;
  min-height: 100%;
  padding: 30px 15px 30px 40px;
}
.new-offer-dialog .rightSide {
  display: inline-block;
  position: relative;
  width: 718px;
  min-height: 100%;
  padding: 30px 40px 30px 15px;
}
.new-offer-dialog .rightSide .previewContainer {
  width: 100%;
  height: 500px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.new-offer-dialog .rightSide .previewContainer-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 500px;
  max-height: 500px;
  border-radius: 0px;
  overflow-x: auto;
  overflow-y: auto;
  box-shadow: 0px 5px 15px #a8a8a8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.float-right {
  float: right;
}

.float-left {
  float: right;
}

.dialog-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.hint {
  width: 100%;
  text-align: center;
  color: silver;
}

.view-actions {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.view-actions .icon-divider {
  width: 1px;
  height: 40px;
  background-color: #fff;
  display: inline-block;
}
.view-actions .icon-container {
  width: 40px;
  height: 40px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-actions .icon-container .icon {
  line-height: 40px;
  color: #fff;
  font-size: 24px;
}
.view-actions .icon-container .icon.rotateIcon {
  display: inline-block;
  transform: rotate(90deg);
}

/*# sourceMappingURL=style.css.map */
