/* INDEX ------------------------------------------------------------------------- INDEX */

.navLogo {
  height: 50px;
}

.sidebar-tile {
  border-top: rgba(0, 0, 0, 0.03) 1px solid;
}

.sidebar-tile:last-child {
  border-bottom: rgba(0, 0, 0, 0.03) 1px solid;
}

.sidebar-tile a {
  height: 90px;
}

.action-margin-left {
  margin-left: 30px;
}

.action-icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #B8C2CC;
  display: flex;
}

.action-icon-circle .icon {
  color: rgba(255, 255, 255, 0.815);
  font-size: 25px;
  margin: auto;
}

.sidebar-spacer {
  position: relative;
  display: block;
  height: 100px;
}

.sidebar-spacer .close {
  position: absolute;
  right: 35px;
  top: 25px;
  color: rgb(156, 165, 173);
  font-size: 40px;
  cursor: pointer;  
}

.nav-spacer {
  height: 70px;
  width: 100%;
  display: block;
}

.footer {
  width: 100vw;
}

.footer .footer-card {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.footer-icon-text {
  margin-left: 50px;
}

.footer-icon-text:first-of-type {
  margin-left: 0px;
}

/* OFFERS OVERVIEW ----------------------------------------------------------- OFFERS OVERVIEW */

.baseCard {
  display: inline-block;
  min-width: 600px;
}